.funfacts {
  padding: 0 0 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (max-width: 1114px) {
  .funfacts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 380px) {
  .funfacts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
