.sidenav {
  padding: 1rem 1.75rem;
}
.sidenavLi {
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgb(113 113 122);
  padding: 1rem 0;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  transition: color 0.3s;
  list-style: none;
  cursor: pointer;
}
.sidenavLi:hover {
  color: #edff20;
}
