.servicecards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media screen and (max-width: 950px) {
  .servicecards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
