.blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
}
.blog-1 {
  padding: 0 1.5rem;
}
@media screen and (max-width: 600px) {
  .blog {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
