.contianer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: black;
  font-family: "Poppins", "sans-serif";
  color: rgba(255, 255, 255, 0.85);
}
.home {
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.rounds {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 990px) {
  .contianer {
    overflow-y: scroll;
  }
}
