.servicescard-div {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid rgb(39 39 42);
  border-bottom: 1px solid rgb(39 39 42);
}
.servicescard-div-span {
  margin-bottom: 0.5rem;
  color: #edff20;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.servicescard-div-h2 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}
.servicescard-div-p {
  color: rgb(161 161 170);
  padding: 0 1.5rem;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  text-align: center;
}
@media screen and (max-width: 950px) {
  .servicescard-div {
    border-right: none;
  }
}
